{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <h1 class="title">Page d'accueil à customiser</h1>
    <div>
        Description du site : sorties entre ENIens etc... <br>
        Il faut être ou avoir été inscrit.e à l'ENI.<br>
        Il faut se connecter pour avoir accès à la liste des sorties et pouvoir participer.
    </div>
{% endblock %}
