{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Sortir avec l'ENI !{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <p class="title">Hello, quand est-ce qu'on sort ?</p>
            <time id="datetime-now" class="has-text-info">{{ now | format_datetime('full', 'short', locale='fr', timezone=false) }}</time>
            <a class="title button box has-text-centered" href="{{ path('sortie_create') }}">Proposer une Sortie ! </a>
            <p class="subtitle">
                <strong class="has-text-primary"> {{ sorties | length }} </strong> sorties organisées récemment par le Réseau !
            </p>
        </div>
    </section>

    <section class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-evenly is-align-items-stretch box">
        {% for sortie in sorties %}
            {% include('sortie/_sorties_filtrees.html.twig') %}
        {% endfor %}
    </section>
{% endblock %}
