<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ asset('assets/media/favicon-team-rocket-02.jpg') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <title>{% block title %}ROCKET GO{% endblock %}</title>
</head>
<body>
<header>
    {% include("inc/nav.html.twig") %}
</header>
<main class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert has-background-{{ label }}-light box has-text-centered">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
</main>
<footer class="footer has-text-centered mt-6">
    <a href="https://github.com/LSarribouette/rocket-go/" class="icon is-large">
        <i class="fas fa-2x fa-brands fa-github-alt"></i>
    </a>
    <p class="mb-2">Thibault Marie & Lauranne Sarribouette - 2023</p>
</footer>
<script src="https://kit.fontawesome.com/ed8d6cd9d5.js" crossorigin="anonymous"></script>
</body>
</html>